// Socials section
@import "../../../styles/utils/variables";
@import "../../../styles/base/typography";

.socials-icon-group {
  display: flex;
  justify-content: center;
  gap: 2.4rem;

  .socials-icon {
    display: inline-block;
    font-size: 4rem;
    color: #6a6a6a;
    transition: color 0.3s ease-in-out;
  }

  .facebook-icon {
    &:hover {
      color: #3b5998;
    }
  }

  .instagram-icon {
    &:hover {
      color: #e4405f;
    }
  }

  .youtube-icon {
    &:hover {
      color: #cd201f;
    }
  }

  .pinterest-icon {
    &:hover {
      color: #bd081c;
    }
  }
}
