@import "../../../styles/utils/variables.scss";
@import "../../../styles/base/typography.scss";

// Button size mixin
@mixin button-size($padding-y, $padding-x) {
  padding: $padding-y $padding-x;
}

.button {
  @include button-size($spacing-2, $spacing-2);
  font-size: $font-size-medium;
  font-weight: bold;
  border-radius: $border-radius-medium;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
    color 0.3s ease-in-out;

  &.none {
    background-color: transparent;
    color: $color-primary-1;
    border: 1px solid $color-primary-1;
  }

  &.primary {
    background-color: $color-primary-1;
    color: $color-primary-2;
    border: 1px solid $color-primary-1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
      color: $color-primary-1;
      border: 1px solid $color-primary-2;
      background-color: $color-primary-2;
    }
  }

  &.secondary {
    background-color: $color-primary-2;
    color: $color-black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
      color: $color-white;
      background-color: $color-secondary-1;
    }
  }
}
