@import "../../../styles/utils/variables.scss";
@import "../../../styles/base/typography.scss";

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-1;
  padding: $spacing-6;
  border: 1px solid $color-primary-1;
  border-radius: $border-radius-medium;
  background-color: $color-white;
  box-shadow: rgba(73, 94, 87, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: rgba(73, 94, 87, 0.5) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .testimonial-image {
    width: 10rem;
    height: 10rem;
    border: 1px solid $color-primary-1;
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .testimonial-content {
    text-align: center;
    gap: $spacing-5;
    color: $color-primary-1;

    .testimonial-name,
    .testimonial-title {
      color: $color-primary-1;
      line-height: 1;
    }

    .testimonial-title {
      font-style: italic;
    }

    .testimonial-text {
      margin-top: $spacing-5;
      quotes: "“" "”" "‘" "’";
    }

    .testimonial-text::before,
    .testimonial-text::after {
      content: open-quote;
      font-size: $font-size-xxlarge;
      line-height: 0;
      vertical-align: middle;
      color: $color-primary-1;
    }

    .testimonial-text::after {
      content: close-quote;
    }

    .testimonial-rating {
      margin-top: $spacing-3;
      font-size: $font-size-large;
      color: #71BDA4;
    }
  }
}
