@import '../../../styles/utils/variables.scss';

.header {
    width: $width-full;
    height: 8rem; // 80px
    padding: $padding-header;
    background-color: $color-white;
    box-shadow: $box-shadow-cards;
}

.button-group {
    gap: $spacing-2;
}
