@import "../../../styles/utils/variables.scss";
@import "../../../styles/base/typography.scss";

.specials-section {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
  padding: 15rem 22rem;

  .specials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .specials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10rem, auto);
    gap: $spacing-6;
  }

  .specials-button {
    padding: $spacing-3 $spacing-4;
  }
}
