@import "../../../styles/utils/variables.scss";
@import "../../../styles/base/typography.scss";

.header-nav {
  height: $height-full;
  ul {
    gap: $spacing-6;
    li {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-primary-1;
        transition: width 0.2s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }

      a {
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;
        color: $color-primary-1;
      }
    }
  }
}
